* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: "Big Caslon Regular";
    src: url(../Assets/home/fonts/BigCaslonFB-Regular.ttf);
  }
  
  @font-face {
    font-family: "Big Caslon Bold";
    src: url(../Assets/home/fonts/BigCaslonFB-Bold.ttf);
  }
  
  @font-face{
    font-family: "Big Caslon Black";
    src: url(../Assets/home/fonts/BigCaslonFB-Bold.ttf);
  }
  
  body {
    background-color: #cfc9be;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /**HEADER**/
  
  .main-background {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .encabezadoPagina {
    position: absolute;
    padding: 20px;
    width: 100%;
    top: 0;
    background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    width: 130px;
    height: 85px;
    margin-left: 20px;
  }
  
  .fondo-buscador {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background-color: transparent;
    border-radius: 8px;
    padding: 10px 20px;
    transition: 0.5s ease-in-out;
    color: #cfc9be;
  }
  
  .fondo-buscador:hover {
    width: 300px;
    border-style: solid;
    border-color: #cfc9be;
  }
  
  input {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: "Big Caslon Black";
    border: none;
    outline: none;
    background: transparent;
    color: #cfc9be;
  }
  
  .mainPagina .fondo-buscador i {
    font-size: 20px;
    cursor: pointer;
    color: #cfc9be;
  }
  
  .menuPrincipal {
    display: flex;
    width: fit-content;
    position: absolute;
    right: 0;
  }
  
  .menuPrincipal-contenedor {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    color: #cfc9be;
  }
  
  .opcionMenu {
    font-family: "Big Caslon Black";
    color: #cfc9be;
    text-decoration: none;
    font-size: 25px;
    padding: 40px;
  }
  
  .menuPrincipal ul a:hover {
    color: rgb(205, 201, 198, 0.8);
    font-weight: 500;
  }
  
  .menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 130px;
    background-color: rgb(98, 85, 72, 0.5);
    margin-left: 35px;
    margin-top: 10px;
  }
  
  .menuPrincipal-contenedor li:hover .menu-vertical {
    display: block;
  }
  
  .menu-vertical li:hover {
    background-color: #3c2c1a;
  }
  
  .menu-vertical li a {
    display: block;
    color: #cfc9be;
    padding: 15px 15px 15px 20px;
    text-align: center;
    text-decoration: none;
    font-family: "Big Caslon Black";
    font-size: 18px;
  }
  
  .taylor-navbar {
    width: 100%;
  }
  
  .newalbum-info {
    position: absolute;
    bottom: 50%;
    width: 1200px;
    text-align: center;
  }
  
  .newalbum-info p {
    font-family: "Big Caslon Black";
    color: #cfc9be;
    font-size: 45px;
  }
  
  .newalbum-info p span {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
  }
  
  .newalbum-info button {
    padding: 10px 50px;
    border: none;
    outline: none;
    background: #cfc9be;
    color: #625548;
    font-family: "Cutive", serif;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 15px;
  }
  
  .newalbum-info button:hover {
    background: #625548;
    color: #cfc9be;
  }
  
  .mainPagina {
    background-color: #cfc9be;
  }
  
  .seccionPrincipal {
    background-color: #cfc9be;
    margin-bottom: 40px;
  }
  
  .select-container{
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    align-items: center;
  }
  
  .select-box{
    border: none;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 300px;
    height: 30px;
    color: #cfc9be;
    background-color: #625548;
    font-size: 18px;
    font-family: 'Big Caslon Black';
    border-radius: 10px;
  }
  
  .select-box option:hover{
    color: #625548;
    background-color: #cfc9be;
  }
  
  .seccionPrincipal-Titulos {
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: "Big Caslon Black";
    font-size: 30px;
    width: fit-content;
  }
  
  .seccionPrincipal-Eras-Tapas {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    transition: 1s;
  }
  
  .imgEras {
    width: 300px;
    height: 300px;
    border-radius: 5px;
  }
  
  .imgEras:hover {
    transform: scale(1.1);
    z-index: 2;
  }
  
  .verMasEras {
    width: 300px;
    height: 300px;
    display: block;
    font-family: "Big Caslon Black";
    font-size: 25px;
    color: #cfc9be;
    border: none;
    border-radius: 5px;
  }
  
  .verMasLetra {
    color: #625548;
  }
  
  .seccionPrincipal .seccionPrincipal-Eras-Tapas button i {
    font-size: 1.2em;
    color: #625548;
  }
  
  .seccionPrincipal-Peliculas-Tapas {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    transition: 1s;
  }
  
  .imgPeliculas {
    width: 360px;
    height: 180px;
    border-radius: 5px;
  }
  
  .imgPeliculas:hover {
    transform: scale(1.1);
    z-index: 2;
  }
  
  .verMasPeliculas {
    width: 360px;
    height: 180px;
    display: block;
    font-family: "Big Caslon Black";
    font-size: 25px;
    color: #cfc9be;
    border: none;
    border-radius: 5px;
  }
  
  .seccionPrincipal .seccionPrincipal-Peliculas-Tapas button i {
    font-size: 1.2em;
    color: #625548;
  }
  
  .seccionPrincipal-Entrevistas-Tapas {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    transition: 1s;
  }
  
  .imgEntrevistas {
    width: 360px;
    height: 180px;
    border-radius: 5px;
  }
  
  .imgEntrevistas:hover {
    transform: scale(1.1);
    z-index: 2;
  }
  
  .verMasEntrevistas {
    width: 360px;
    height: 180px;
    display: block;
    font-family: "Big Caslon Black";
    font-size: 25px;
    color: #cfc9be;
    border: none;
    border-radius: 5px;
  }
  
  .seccionPrincipal .seccionPrincipal-Entrevistas-Tapas button i {
    font-size: 1.2em;
    color: #625548;
  }
  
  .footerPagina{
    background-color: #625548;
  }
  
  .footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
  
  }
  
  .socialIcons{
    display: flex;
    justify-content: center;
  }
  
  .socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: #cfc9be;
    margin: 10px;
    border-radius: 50%;
  }
  
  .socialIcons a i{
    font-size: 2em;
    color: #625548;
    opacity: 0.9;
  }
  
  .socialIcons a:hover{
    background-color: #3c2c1a;
    transition: 0.3s;
  }
  
  .socialIcons a:hover i{
    color: #ffffff;
  }
  
  .footer-mid{
    margin: 30px 0;
  }
  
  .footer-mid ul{
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .footer-mid ul li a{
    display: flex;
    margin: 20px;
    text-decoration: none;
    font-size: 1.5em;
    opacity: 0.7;
    transition: 0.5s;
    font-family: 'Big Caslon Black';
    color: #cfc9be;
  }
  
  .footer-mid ul li a:hover{
    opacity: 1;
  }
  
  .footer-bottom{
    background-color: #3c2c1a;
    padding: 20px;
    text-align: center;
  }
  
  .footer-bottom p{
    color: #cfc9be;
  }
  
  
  @media screen and (max-width:600px) {

    .encabezadoPagina {
      position: absolute;
      top: 0;
      display: block;
      padding-left: 0;
      padding-top: 15px;
    }

    .logo-container {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 5px;
    }

    .logo {
      width: 100px;
      height: 50px;
      padding-right: 0;
    }

    .menuPrincipal{
      justify-content: center;
      margin-top: 5px;
    }

    .menuPrincipal-contenedor{
      overflow: auto;
      box-sizing: border-box;
    }
    
    .opcionMenu {
      font-size: 17px;
      padding: 5px;
    }

    .menu-vertical {
      left: 60%;
      background-color: rgba(86, 63, 37, 0.5);
    }
    
    .menu-vertical li a {
      display: block;
      color: #cfc9be;
      padding: 10px 25px 10px 25px;
      font-size: 15px;
    }

    .taylor-navbar{
      height: 500px;
      object-fit: cover;
    }

    .newalbum-info p{
      display: none;
    }

    .newalbum-info a button{
      display: none;
    }

    .select-container{
      display: flex;
      justify-content: space-between;
      margin-right: 25px;
      align-items: center;
    }
    
    .select-box{
      width: 200px;
      font-size: 15px;
      text-align: center;
    }
    
    .select-container a{
      color: inherit;
      text-decoration: none;
    }

    .seccionPrincipal-Eras-Tapas {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-left: 15px;
      margin-right: 15px;
      align-items: center;
      justify-content: center;
    }
    
    .imgEras {
      width: 180px;
      height: 180px;
      border-radius: 5px;
      margin-left: 0px;
      margin-bottom: 5px;
    }

    .verMasEras{
      width: 180px;
      height: 180px;
      font-size: 20px;
    }

    .seccionPrincipal-Peliculas-Tapas{
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 25px;
      margin-right: 25px;
      align-items: center;
      justify-content: center;
    }

    .imgPeliculas{
      margin-bottom: 10px;
    }

    .seccionPrincipal-Entrevistas-Tapas {
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 25px;
      margin-right: 25px;
      align-items: center;
      justify-content: center;
    }

    .imgEntrevistas{
      margin-bottom: 10px;
    }
    
    .footer-mid ul{
      display: flex;
      grid-template-columns: 1fr 1fr;
      margin-right: 20px;
      margin-left: 20px;
      gap: 20px;
      align-items: center;
      text-align: center;
    }

    .footer-mid ul li a{
      margin-right: 25px;
      margin-left: 25px;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      font-size: 1.2em;
    }

  }