*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../Assets/perfilback.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


header{
    display: flex;
    width: 100%;
    height: 12%;
    background-color: rgba(207, 201, 190);
    position: fixed;
    top:0;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.contenedorHeader img{
    width: 100px;
    height: auto;
    margin-left: 30px;
    margin-top: 10px;
}

.navegacion a{
    position: relative;
    text-decoration: none;
    font-family: "Bebas Neue";
    font-size: 20px;
    color: #625548;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 600;
}

.navegacion a::before{
    content: '';
    position: absolute;
    top:100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #625548;
    transition: .3s;
}

.navegacion a:hover::before{
    width: 100%;
}

/*aca empieza el header*/

.mi-cuenta-container {
  position: relative;
  display: inline-block;
}

.opciones-cuenta {
  display: none;
  position: absolute;
  top: 120%; 
  left: 0;
  background-color: rgba(207, 201, 190);
  text-align: center; 
  width: 100%;
  padding-bottom: 10px;
}

.mi-cuenta-container:hover .opciones-cuenta {
  display: block;
}

.opciones-cuenta a {
  display: block;
  text-decoration: none;
  font-family: "Bebas Neue";
  font-size: 18px;
  color: #625548;
  font-weight: 600;
  padding: 10px 0; 
  position: relative; 
}

.opciones-cuenta a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #625548;
  transition: .3s;
}

.opciones-cuenta a:hover::before {
  width: 100%;
}



    .contenedorPerfil{
        display: grid;
        grid-template-areas: "uno dos"
                             "uno dos"
                             "tres tres";
        border: 2px solid #625548;
        border-radius: 20px;
        background-color: #cac2b5;
        color: #625548;
        padding: 30px;
        padding-right: 50px;
        box-shadow: #625548;

    }

    .titulo-mobile{
        display:none;
    }

    .fotoPerfil{
        grid-area: uno;
        display: flex;
        flex-direction: column;
        align-items:center;
        height: 100%;
        margin-right: 40px;
    }

    .grande img{
        border-radius: 100%;
        width: 100px;
        height: auto;
    }


    .cambiarIcon h3{
        color: #625548;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        margin-top: 15px;
        
    }
    .bordecito{
        padding-left: 10px;
        padding-right: 10px;
        border: 1.5px solid #625548;
        border-radius: 10px;
        background-color: transparent;
        margin-top: 5px;

    }
    .seleccion{
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: end;
        justify-content: center;
        padding: 5px;
    }



    .seleccion img{
        border-radius: 100%;
        width: 25px;
        height: auto;
        position: relative;

    }



    .infoPerfil{
        grid-area: dos;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;


    }

    .infoPerfil input{
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 4px;
        width: 200px;
    }


    .email-y-contraseña{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .email h4 {
        margin-top: 5px;
        margin-bottom: 10px;


    }

    .contraseña h4{

        margin-top: 5px;
    
    }


    .contraseña p{
        color: #625548;
        text-decoration: underline;
        font-size: 15px;
        margin-bottom: 15px;
    }


    .seleccion img:hover{
        border: 2.5px solid #625548;
    }



    .medioDePago{
        grid-area: tres;

  
    }

    .formaPago{
        display: flex;
        flex-direction: row ;
        margin-top: 10px;
        width: 100%;
        justify-content: center;

    }


    .formaPago .tarjeta{
        display: grid;
        grid-template-areas: "uno uno"
                             "dos dos"
                             "tres cuatro";

    }



    .tarjeta .inputUno{
        grid-area: uno;
        margin-bottom: 10px;
    }

    .tarjeta .inputDos{
        grid-area: dos;
    }

    .inputDos input{
        border-radius: 20px;
        text-align: center;
    }

    .tarjeta .inputTres{
        grid-area: tres;
        
    }

    .inputTres input{
        border-radius: 20px;
        text-align: center;
        width: 50px;

    }

    .tarjeta .inputCuatro{
        grid-area: cuatro;
    }

    .inputCuatro input{
        border-radius: 20px;
        text-align: center;
        width: fit-content;

    }
    .formaPago .cuponPago{
        grid-area: dos;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        
    
    }

    .cuponPago #metodoMain{
        margin-bottom: 10px;
    }

    .transferencia{
        grid-area: tres;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .transferencia p{
        margin-top: 10px;
    }


    

    .botones{
        display: flex;
        flex-direction: row;
        gap: 30px;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        
    }
    

    .botones button{
        padding: 8px;
        border-radius: 20px;
        width: 150px;
        background-color: #cac2b5;
        color: #625548;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 10px;
    
    }
    
    .botones button:hover{
        background-color: #625548;
        color: #cac2b5;
    }



    
    @media  screen and (max-width: 600px) {


        body{
            background-image: url(../Assets/indexMobileBack.jpg);
            background-size:cover;
            background-position:center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            display: flex;

    } 

    header{
        background-color: transparent;
    }

    .contenedorHeader img{
        width: 80px;
    }

    .navegacion {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3%;
        justify-content: right;
    }

    .opciones-cuenta {
      top: 190%; 
  }



    }

    @media  screen and (max-width:600px) {

        header{
            position: absolute;
            top: 0;
            background: #cac2b5;
            display: flex;
            align-items: center;
            justify-content:space-between;
            z-index: 100;
            
            }
        
        body{
            background-image: url(../Assets/index/indexMobileBack.jpg);
            background-size:cover;
            background-position:center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
         }

         .contenedorPerfil{
            position: relative;
            display: grid;
            grid-template-areas: "uno uno"
                                 "dos dos"
                                 "tres tres"
                                 "cuatro cuatro";
            border: 2px solid #625548;
            border-radius: 20px;
            background-color: #cac2b5;
            color: #625548;
            padding-left: 30px;
            padding-right: 30px;
            box-shadow: #625548;
            justify-content: center;
            align-items: center;
            margin-top: 250px;
            margin-bottom: 10px;
    
        }


        .titulo-mobile{
            grid-area: uno;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
     
        }


        .fotoPerfil{
            grid-area: dos;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0%;
            margin: 0;
        }

        .infoPerfil{
            grid-area: tres;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .infoPerfil h1{
            display: none;
        }

        .email-y-contraseña{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .email{
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
        }


        .contraseña{
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;

        }
        .medioDePago{
            grid-area: cuatro;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
        }
    
        
        .formaPago{
            display: flex;
            flex-direction: column ;
            margin-top: 10px;
            width: 100%;
            justify-content: center;
    
        }
    
    
        .tarjeta{
            display: grid;
            grid-template-areas: "uno uno"
                                 "dos dos"
                                 "tres cuatro";
            grid-template-columns: repeat(2, 1fr);
            font-size: 20px;
    
        }

        .tarjeta .inputUno{
            grid-area: uno;
            margin-bottom: 10px;
            align-items: center;
            justify-content: center;
        }
    
        .tarjeta .inputDos{
            display: flex;
            grid-area: dos;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 10px;
        }
    
        .inputDos input{
            border-radius: 20px;
            width: 100%;
            text-align: center;
        }
    
        .tarjeta .inputTres{
            display: flex;
            grid-area: tres;
            align-items:center;
            justify-content: left;
            margin-bottom: 10px;
            
        }
    
        .inputTres input{
            border-radius: 20px;
            text-align: center;
            width: 50px;
    
        }
    
        .tarjeta .inputCuatro{
            display: flex;
            grid-area: cuatro;
            align-items: center;
            margin-bottom: 10px;
        }
    
        .inputCuatro input{
            border-radius: 20px;
            text-align: center;
            width: fit-content;
    
        }
        .formaPago .cuponPago{
            grid-area: dos;
            display: flex;
            flex-direction: column;
            margin: 0%;
            font-size: 20px;
            
        
        }
    
        .cuponPago .metodos{
           display: flex;
           flex-direction: row;
           justify-content: center;
           align-items: center;
           gap: 10px;
           margin-top: 5px;
           margin-bottom: 7px;
        }
    
        .transferencia{
            grid-area: tres;
            display: flex;
            flex-direction: column;
            margin: 0%;
            margin-top: 5px;
            font-size: 20px;
           
        }
    
        .transferencia p{
            margin-top: 10px;
        }
    
    
        
    
        .botones{
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
    
            
        }




    }