*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../Assets/perfilback.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


header{
    position: fixed;
    top: 0;
    width: 100%;
    background: #cac2b5;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 100;
    
    }
    
    .contenedorHeader img{
        width: 100px;
        height: auto;
        margin-left: 30px;
        margin-top: 10px;
    }
    
    .menu-icon{
        display: none;
    }
    .menu a{
        position: relative;
        text-decoration: none;
        font-family: "Bebas Neue";
        font-size: 20px;
        color: #625548;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: 600;
    
    }
    
    .menu a::before{
        content: '';
        position: absolute;
        top:100%;
        left: 0;
        width: 0;
        height: 2px;
        background: #625548;
        transition: .3s;
    
    }
    
    .menu a:hover::before{
        width: 100%;
    }



    .contenedorPerfil{
        display: grid;
        grid-template-areas: "uno dos"
                             "uno dos"
                             "tres tres";
        border: 2px solid #625548;
        border-radius: 20px;
        background-color: #cac2b5;
        color: #625548;
        padding: 30px;
        padding-right: 50px;
        box-shadow: #625548;

    }

    .fotoPerfil{
        grid-area: uno;
        display: flex;
        flex-direction: column;
        align-items:center;
        height: 100%;
        margin-right: 40px;
    }

    .grande img{
        border-radius: 100%;
        width: 100px;
        height: auto;
    }


    .cambiarIcon h3{
        color: #625548;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        margin-top: 15px;
        
    }
    .bordecito{
        padding-left: 10px;
        padding-right: 10px;
        border: 1.5px solid #625548;
        border-radius: 10px;
        background-color: transparent;
        margin-top: 5px;

    }
    .seleccion{
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: end;
        justify-content: center;
        padding: 5px;
    }



    .seleccion img{
        border-radius: 100%;
        width: 25px;
        height: auto;
        position: relative;

    }



    .infoPerfil{
        grid-area: dos;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;


    }

    .infoPerfil input{
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 4px;
        width: 200px;
    }


    .email-y-contraseña{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .email h4 {
        margin-top: 5px;
        margin-bottom: 10px;


    }

    .contraseña h4{

        margin-top: 5px;
    
    }


    .contraseña p{
        color: #625548;
        text-decoration: underline;
        font-size: 15px;
        margin-bottom: 15px;
    }


    .seleccion img:hover{
        border: 2.5px solid #625548;
    }



    .medioDePago{
        grid-area: tres;

  
    }

    .formaPago{
        display: flex;
        flex-direction: row ;
        margin-top: 10px;
        width: 100%;
        justify-content: center;

    }


    .formaPago .tarjeta{
        display: grid;
        grid-template-areas: "uno uno"
                             "dos dos"
                             "tres cuatro";

    }



    .tarjeta .inputUno{
        grid-area: uno;
        margin-bottom: 10px;
    }

    .tarjeta .inputDos{
        grid-area: dos;
    }

    .inputDos input{
        border-radius: 20px;
        text-align: center;
    }

    .tarjeta .inputTres{
        grid-area: tres;
        
    }

    .inputTres input{
        border-radius: 20px;
        text-align: center;
        width: 50px;

    }

    .tarjeta .inputCuatro{
        grid-area: cuatro;
    }

    .inputCuatro input{
        border-radius: 20px;
        text-align: center;
        width: fit-content;

    }
    .formaPago .cuponPago{
        grid-area: dos;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        
    
    }

    .cuponPago #metodoMain{
        margin-bottom: 10px;
    }

    .transferencia{
        grid-area: tres;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .transferencia p{
        margin-top: 10px;
    }


    

    .botones{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 15px;

        
    }
    

    .botones button{
        padding: 8px;
        border-radius: 20px;
        width: 150px;
        background-color: #cac2b5;
        color: #625548;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 10px;
    
    }
    
    .botones button:hover{
        background-color: #625548;
        color: #cac2b5;
    }



    
    @media  screen and (max-width: 600px) {


        body{
            background-image: url(../Assets/indexMobileBack.jpg);
            background-size:cover;
            background-position:center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            display: flex;

    } 

    header{
        background-color: transparent;
    }

    .contenedorHeader{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%;


    }

    .contenedorHeader img{
        display: flex;
        margin-left: 0;

    }


    .menu-icon{
        display: flex;
        

    }

    .menu{
    display: none;

    }



    }

    @media  screen and (max-width:1024px) and (min-width:600px){
        
        body{
            background-image: url(../Assets/indexTabletBack.jpg);
            background-size:cover;
            background-position:center;
            background-repeat: no-repeat;
            background-attachment: fixed;
         }

        


    }