

body{
    display: flex;
    background-image: url(../Assets/Login/Back.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

header a img{
    width: 130px;
    height: 85px;
    margin-left: 20px;
}


.register-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #cac2b5;
    border-radius: 20px;
    border: 2px solid #625548;
    box-shadow: 0 8px 10px 0 rgba(61, 53, 44, 0.5);
    backdrop-filter: blur (10px);
    padding: 30px 30px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    
    
    
    

}

.columnaUno{
    display:flex;
    flex-direction: column;
}

.register-box h2{
    color: #625548;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 40px;
    font-family: "Libre Baskerville";
    font-weight: 600;
}


.campo{
    display: flex;
    justify-content: space-between;
    width: stretch;
    align-items: center;
}

.campo p{
    text-align: right;
    width: 35%;
    font-family: "Libre Baskerville";
    color: #625548;
    font-size: 13px;
}

.campo input{
    width: 75%;
    border-radius: 20px;
    height: 16px;
}

.columnaDos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    align-items: baseline;
    

}

.check{
    color:#625548;
    margin-top: 20px;
}

.tarjeta{
    display: flex;
    flex-direction: row;
}
.inputDos input{
    margin-top: 5px;
    border-radius: 20px;
}

.inputTres input{
    width: 50px;
    border-radius: 20px;
    margin-top: 5px;
}

.columnaDos h5{
    color: #625548;
    width: 100%;
    margin-top: 27px;
    margin-left: 40px;
    margin-bottom: 15px;
    font-family: "Libre Baskerville";
    font-weight: 600;
}
.pago{
    font-weight: lighter;
    width: 100%;
    margin-top: 5px;
    margin-left: 40px;
    font-family: "Libre Baskerville";
    color: #625548;
    font-size: 10px;
}
.botones{
    display:flex;
    flex-direction: row;
    width: 100%;
    align-items:start;
    justify-content: center;
    gap: 40px;
}
.confirmar{
    margin-top: 10px;
    width: 100%;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    color: #e4e0d9;
    padding: 10px;
    border-radius: 100px;
    background-color: #847a6b;
    border-color: #625548;

}
.cancelar{
    margin-top: 10px;
    width: 100%;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    color: #625548;
    padding: 10px;
    border-radius: 100px;
    background-color: #cac2b5;
    border-color: #746b5c;

} 
.cbu{
    
    margin-top: 5px;
    color: #625548;
}

@media  screen and (max-width: 600px)  {

    body{
        background-image: url(../Assets/index/indexMobileBack.jpg);
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
        background-attachment: fixed;
     }

     .icon{
        display: flex;
        align-items: center;
        justify-content: center;

    }

     .register-box{
        width: 100%;
        justify-items: center;
        height: 220px;
     }

     .columnaUno{
        font-size: 20px;
        height: 10px;            
        
            }
        
    .columnaDos{
        font-size: 20px;
        height: 10px;   
            }
        
     .botones{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        height:fit-content;
        margin-top: 30px;
      
     }

     
.confirmar{
    width: 170px;
    font-size: 15px;

}
.cancelar{
    width: 170px;
    font-size: 15px;

} 
}

@media  screen and (max-width:1024px) and (min-width:600px){
    
    body{
        background-image: url(../Assets/index/indexTabletBack.jpg);
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
        background-attachment: fixed;
     }

     .icon{
        display: flex;
        align-items: center;
        justify-content: center;

    }

     .register-box{
        width: 65%;
        justify-items: end;
        height: 380px;
     }

     .columnaUno{
        font-size: 25px;
        height: 15px;            
        
            }
                
        
     .botones{
        justify-content: flex-start;
        
    }

     
.confirmar{
    width: 90px;
    font-size: 15px;

}
.cancelar{
    width: 90px;
    font-size: 15px;

}
.columnaDos{
    font-size: 20px;
    height: 20px;
    margin-top: 15px;           
    
        }   

.pago{
font-size: 15px;
margin-top: 10px;
}
.inputDos{
    margin-top: 5px;
}
.inputTres{
    margin-top: 5px;
}
}