*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-image: url(../Assets/Login/Back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
}

header{
    position: fixed;
    top:0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;

}


.icon img{
    width: 100px;
    height: auto;
    margin-left: 30px;
    margin-top: 10px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    border: 2px solid #625548;
    border-radius: 20px;
    background-color: rgba(207, 201, 190);
    padding: 40px 100px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo h2{
    font-family: "Libre Baskerville";
    font-size: 20px;
    color: #625548;
}

.campos{
    display: flex;
    flex-direction: row;
}


.campos .texto{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: end;
    justify-content: center;
    margin-right: 20px;
}

.campos .texto p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #625548;
    margin-bottom: 10px;
}



.campos .input{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.campos .input input{
    margin-bottom: 10px;
    border-radius: 20px;
    color: #625548;
    border-color: 2px solid#625548;
    padding: 3px;
}


.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    gap: 20px;
}


.botones button{
    padding: 8px;
    border-radius: 20px;
    width: 150px;
    background-color: #cac2b5;
    color: #625548;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.botones button:hover{
    background-color: #625548;
    color: #cac2b5;
}